In [10]:
from openbb import obb
import pandas as pd

def get_close_prices(ticker:str, start_date: str, end_date: str) -> pd.DataFrame:
    """
    Get the closing prices for a given ticker from OpenBB.

    Parameters:
    - ticker (str): The ticker symbol for the asset.
    - start_date (str): The start date for the data in 'YYYY-MM-DD' format.
    - end_date (str): The end date for the data in 'YYYY-MM-DD' format.

    Returns:
    - pd.DataFrame: A DataFrame containing the closing prices with dates as the index.
    """
    # Fetch the data using OpenBB and convert to a dataframe
    data = obb.equity.price.historical(
        symbol=ticker,
        start_date=start_date,
        end_date=end_date,
        interval="1d"
    ).to_dataframe()

    # Return only the closing prices
    return data[['close']].rename(columns={'close': ticker})

In [11]:
prices = get_close_prices('AAPL', '2025-01-01', '2025-12-01')

In [12]:
prices

                  AAPL
date
2025-01-02  243.850006
2025-01-03  243.360001
2025-01-06  245.000000
2025-01-07  242.210007
2025-01-08  242.699997
...                ...
2025-11-24  275.920013
2025-11-25  276.970001
2025-11-26  277.549988
2025-11-28  278.850006
2025-12-01  283.100006

[229 rows x 1 columns]